/* Global */

body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}

.icon {
	width: 40px;
}

.client{
	border-bottom: 1px #f3f3f1 solid;
	margin-bottom: 10px;
	min-height: 200px;
	padding: 20px 0px;
}
/* Logo */

#main-image{
	margin: 0px auto;
	display: block;
}


/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#ffffff;
	z-index:100;
	border-bottom: 1px #f6f6f6 solid;
	background-color: rgba(247,246,245,.85);
	padding: 20px 0px;
}
#logo {
	text-align: center;
	margin: 10px 0;
	max-width: 200px;
}
#nav {
	text-align: right;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active{
	cursor:pointer;
	color: #f68f67;
	font-weight:bold;
}




/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}



/* Slide 1 */ 

#slide1{
	background: url('../images/developer.jpg') no-repeat;
	background-size: 100% auto;
	color:#8a8683;
}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}




/* Slide 2 */ 

#slide2{
	/* background: url('../images/smallworld.jpg'); */
	background-color:#ffffff;
	/* background-size: 100% auto; */
	color:#8a8683;
}
#slide2 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide2 h2 {
	font-size: 2em;
	color:#8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}




/* Slide 3 */ 

#slide3{
	background-color:#ffffff;
}
#slide3 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}




/* Slide 4 */

#slide4{
	/* background: url('../images/everything.jpg'); */
	background-color:#ffffff;
	/* background-size: 100% auto; */
	color: #8a8683;
}
#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#slide5{
	background-color:#ffffff;
}
#slide5 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide5 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#slide6{
	/* background: url('../images/industries.jpg'); */
	background-color:#ffffff;
	/* background-size: 100% auto; */
	color: #8a8683;
}
#slide6 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 100px;
	color:#8a8683;
	font-weight: 700;
}
#slide6 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}


#slide7{
	background: url('../images/sunglasses.png'); 
	background-color:#8a8683;
	background-size: 100% auto;
	color: #fff;
	padding-bottom:200px; 
}
#slide7 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 100px;
	color:#ffffff;
	font-weight: 700;
}
#slide7 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}






/* Tablet */
@media screen and (max-width: 1024px) {

.menu{
	background-color: rgba(247,246,245,.85);
	padding: 15px 0px;
}

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:14%;
	font-size: 15px;
	padding: 0 0 0 0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:50px 0;
}

#decorative {
	display:none;
}

.content {
	width:100%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}
.flex-container{
	margin: 0px auto;
	width: 85%;
}
#logo{
	display: none;
}

}




/* Mobile */
@media screen and (max-width: 480px) {

#slide1{
	background:#ffffff;
}


.menu{
	background-color: rgba(247,246,245,.85);
	padding: 10px 0px;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
}

.navigation li{
	float: left;
	width:14%;
	font-size: 10px;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:50px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}

