.ninja-pane{
  width: 600px;
  height: 220px;
  top: 60px;
  position: relative;
  margin: 0px auto;
  overflow: hidden;
  .text{
    width: 320px;
    height: 200px;
    transform: skew(-15deg);
    position: absolute;
    background: white;
    z-index: 1;
  }

  .text:before {
    content: "";
    dislay: block;
    position: absolute;
    height: 200px;
    width: 60px;
    background: white;
    transform: skew(15deg);
     -webkit-backface-visibility: hidden;
  }

  .text a:before{
    content: "...";
  }
  .text a{
    color: #f58239;
    font-size: 12px;
    text-transform: lowercase;
  }
  .text h4 {
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: 700;
  }
  .text p {
    width: 260px;
    line-height: 1.2em;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 30px;
    transform: skew(15deg);
    color: #999;
    font-weight: 100;
    font-family: Ubuntu;
  }

  .ninja-image {
    width: 320px;
    height: 200px;
    top: 0;
    transform: skew(-15deg);
    position: absolute;
    overflow: hidden;
  }

  .cimg {
    display: block;
    transform: skew(15deg);
    width: 290px;
    height: 200px;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.ninja-pane:nth-child(odd){
  .text {
    left: 37px;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.1);
  }
  .text:before {
    left: -27px;
    border-left: 1px solid rgba(0,0,0,0.05);
  }
  .ninja-image {
    right: -90px;
  }
  .cimg {
    left: -27px;
  }
}



.ninja-pane:nth-child(even){
  .text {
    right: 37px;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.1);
  }
  .text:before {
    right: -27px;
    border-right: 1px solid rgba(0,0,0,0.05);
  }
  .ninja-image {
    left: -90px;
  }
  .cimg {
    right: -27px;
  }
}

@media screen and (max-width: 500px) {
  .ninja-pane{
    width: 320px;
    height: 100px;
    margin: 15px 0px;

    .text{
      width: 200px;
      height: 100px;
    }

    .text:before {
      height: 100px;
      width: 30px;
    }

    .text p {
      width: 130px;
      font-size: 0.6em;
      margin-top: 0px;
      margin-left: 15px;
    }

    .ninja-image {
      width: 160px;
      height: 100px;
    }

    .cimg {
      width: 140px;
      height: 100px;
    }
  }


  .ninja-pane:nth-child(odd){
    .text {
      left: 10px;
      box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
    }
    .text:before {
      left: -10px;
      border-left: 1px solid rgba(0,0,0,0.05);
    }
    .ninja-image {
      right: -45px;
    }
    .cimg {
      left: -10px;
    }
  }



  .ninja-pane:nth-child(even){
    .text {
      right: 12px;
      box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
    }
    .text:before {
      right: -10px;
      border-right: 1px solid rgba(0,0,0,0.05);
    }
    .ninja-image {
      left: -45px;
    }
    .cimg {
      right: -10px;
    }
  }
}
